<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <h1>POKEDEX</h1>
        </a>

        <ul class="nav nav-pills d-flex justify-content-center">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Mes Pokemons</a></li>
            <li class="nav-item"><a href="/user" class="nav-link" aria-current="page">Classement dresseurs</a></li>
            <li class="nav-item"><a href="/addPokemon" class="nav-link">Ajouter un pokemon</a></li>
            <li class="nav-item"><a href="/deconnexion" class="nav-link">Deconnexion</a></li>
        </ul>
    </header>